*{
     font-family: "PT Sans", sans-serif;
}
 /* Navbar */
    .navbar {
      background-color: rgba(255, 255, 255, 0.95);
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    #heroCarousel {
  height: 90vh;
  overflow: hidden;
}

#heroCarousel img {
  height: 90vh;
  object-fit: cover;
  filter: brightness(70%);
}

.carousel-caption {
  bottom: 30%;
  text-align: center;
  color: #fff;
}

.carousel-caption h1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.carousel-caption p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}


    /* Icon Section */
    .icon-section {
      margin-top: -80px;
      z-index: 3;
      position: relative;
    }
    .service-card {
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      transition: 0.3s;
      padding: 30px 20px;
    }
    .service-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    }
    .service-card i {
      font-size: 2.5rem;
      color: #ff7e00;
      margin-bottom: 15px;
    }